@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal; 
}